.dnwpButtomButton {
	font-size: 9px;
	margin-right: 10px;
}
.dnwpButtomButton.dnwpHideAll {
    font-weight: bold;
}
.dnwpShowHideItem {
    margin-left: 10px;
	font-size: 10px;
	color: darkBlue;
}
.nightmode .dnwpShowHideItem {
	color: grey;
}